
.progress-banner {
  background-color: #161616;
  padding: 0 20px;
  margin: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.progress-banner h1 {
  color: #fff;
}

.progress-banner span {
    margin-bottom: 5px;
}

.progress-banner .progress-bar-academy {
  width: 100%;
  background-color: #2e2e2e;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.progress-academy {
  width: 0%;
  height: 20px;
  background-color: var(--primary-color);
  text-align: center;
  line-height: 20px;
  color: white;
}

.containerAcademy {
  width: 85%;
  background-color: #161616;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
}

.video-section {
  margin-bottom: 20px;
  border: 1px solid #383838;
  padding: 10px;
  border-radius: 8px;
}

.video-section iframe {
    width: 100%;
    height: 250px;
    display: block;
    border: none;
}


.video-section h2 {
    font-size: 1.4rem;
}

.video-section button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.video-section button:hover {
  background-color: #00642a;
}

@media (min-width: 800px) {

    .containerAcademy {
        width: 72%;
        background-color: #161616;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 100px;
      }
      
      .video-section {
        margin-bottom: 20px;
        border: 1px solid #383838;
        padding: 20px;
        border-radius: 8px;
      }
    .video-section iframe {
        width: 100%;
        height: 300px;
        display: block;
        border: none;
    }
}


@media (min-width: 1200px) {

    .containerAcademy {
        width: 55%;
        background-color: #161616;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 100px;
      }
      
      .video-section {
        margin-bottom: 20px;
        border: 1px solid #383838;
        padding: 20px;
        border-radius: 8px;
      }
    .video-section iframe {
        width: 100%;
        height: 450px;
        display: block;
        border: none;
    }
}