.dashboard-container {
    width: 100%;
    max-width: 800px;
    margin: 0px auto 20px auto;
    padding: 0px;
    margin-bottom: 80px;
}
.history {
    margin-top: 20px; 
    background: #161616;
    padding: 15px;
    border-radius: 20px;
}
.history h3 {
    font-size: 1.2rem;
}
.history-section {
    margin-top: 15px;
    padding: 5px 20px;
 /* From https://css.glass */
background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}
h3, h4 {
    color: #fff;
}

.historico-valor {
    font-size: 2rem;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 10px;
}

.historico-valor img {
    width: 30px;
}