<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#00bf63" />
    <title>App de sinais</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link
      rel="shortcut icon"
      href="static/images/logo.png"
      type="image/x-icon"
    />

    <script
      type="text/javascript"
      src="https://s3.tradingview.com/tv.js"
    ></script>

    <script src="https://cdn.tailwindcss.com"></script>

   
  </head>

  <body>
    <div class="imagembanner">
    <header class="header">
      <img src="../static/images/logo.png" alt="" />
      <!-- <h1>BullTRADE</h1> -->

      <div class="menu">
        <a href="{{ url_for('logout') }}">SAIR</a>
        <h4>Bem-Vindo, {{ nome }}!</h4>
      </div>
    </header>


    <div class="containerIA">
      <div class="circleIA">
        <h3 id="sinal">I.A DESATIVADA</h3>
          <button id="startSignal" class="btnIA btnIniciar">Iniciar IA</button>
      </div>
  </div>

    <!-- <div class="analise">
      <h3 id="sinal">I.A DESATIVADA</h3>

      <button id="startSignal" class="btnIniciar">INICIAR I.A</button>
    </div> -->
    <div class="container">
      <!-- <h1>BULLTRADE</h1> -->
      <!-- <div class="dash">
        <h3 id="txtCirculo">R$ 15.000,00</h3>
        <div class="circulo"></div>
      </div> -->

      <div class="painel">
        <div class="ativo">
          ATIVO:
          <p id="ativo">-</p>
        </div>

        <div class="timeframe">
          TIMEFRAME:
          <p id="timeframe">-</p>
        </div>

        <div class="ordem">
          ORDEM:
          <p id="ordem">-</p>
        </div>

        <div class="horario">
          HORÁRIO:
          <p id="horario">-</p>
        </div>
      </div>

      <!-- <button onclick="generateSignal()" id="btnAnalisar" class="btnAnalisar">
        ANALISAR ENTRADA
      </button> -->

      <a
        id="btnAnalisar"
        class="btnAnalisar"
        target="_blank"
        href="https://trade.bull-ex.com/register?aff=404504&aff_model=revenue&afftrack="
      >
        AGUARDANDO SINAL
      </a>

      <div class="dashboard">
        <div class="stats">
          <div class="stat-box">
            <p>Usuários Online</p>
            <p>1.248 <span>traders</span></p>
          </div>
          <div class="stat-box">
            <p>Sinais Gerados</p>
            <p>8.245 <span>hoje</span></p>
          </div>
        </div>
        <div class="trading-academy">
          <img src="../static/images/logo.png" alt="Trading Academy" />
          <div class="academy-info">
            <h3>Trading Academy</h3>
            <p>5 aulas · 8795 alunos</p>
            <a href="{{ url_for('academy') }}" class="button">Começar Agora</a>
          </div>
        </div>
      </div>

      <!-- <h2>Sinais Recentes:</h2>
      <ul id="signals" class="signal-list"></ul> -->
    </div>

    <!-- <div class="container" style="padding-top: 10px; padding-bottom: 10px;">
    </div> -->
    <iframe
      src="https://trade.bull-ex.com/traderoom"
      sandbox="allow-same-origin allow-scripts allow-forms allow-popups allow-modals"
      allow="fullscreen; autoplay; clipboard-write"
    ></iframe>

  </div>


    <footer>
      <nav>
        <a style="color: var(--primary-color);" href=""><img src="../static/images/house-chimney-user-ativo.png" alt="">Home</a>
          <a href="{{ url_for('academy') }}"><img src="../static/images/graduation-cap.png" alt="">Academy</a>
          <a class="live" href="#"><img src="../static/images/signal-stream.png" alt="">Lives</a>
          <a href="#"><img src="../static/images/newspaper.png" alt="">News</a>
          <a href="#"><img src="../static/images/clock-future-past.png" alt="">Histórico</a>
      </nav>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>


      document.addEventListener('keydown', function (event) {
        if (
          event.key === 'F12' ||
          (event.ctrlKey && event.shiftKey && event.key === 'I')
        ) {
          event.preventDefault();
        }
      }); // desabilita o f12 e ctrl+i

      document.addEventListener('contextmenu', function (event) {
        event.preventDefault();
      }); // desabilita o clique com botão direito

      const pegarsinal = document.querySelector('.pegarsinal');

      const btnAnalisar = document.querySelector('.btnAnalisar');
      const bolinha = document.getElementById('sinal');
      const startBot = document.getElementById('startSignal');

      async function generateSignal() {
        await new Promise((resolve) => setTimeout(resolve, 5000));

        btnAnalisar.style.opacity = '.5';
        btnAnalisar.style.pointerEvents = 'none';
        bolinha.textContent = 'ANALISANDO';

        await new Promise((resolve) => setTimeout(resolve, 8000));

        bolinha.textContent = 'POSSÍVEL SINAL';

        btnAnalisar.style.pointerEvents = 'none';
        await new Promise((resolve) => setTimeout(resolve, 8000));

        bolinha.textContent = 'OPERAÇÃO ANALISADA';
        btnAnalisar.textContent = 'FAZER OPERAÇÃO';

        btnAnalisar.style.backgroundColor = '#4CAF50';
        btnAnalisar.style.opacity = '1';
        btnAnalisar.style.pointerEvents = 'initial';

        try {
          const response = await fetch('/generate-random-signal');
          const data = await response.json();
          const alertMessage = document.getElementById('alert-message');

          const ativo = document.getElementById('ativo');
          const timeframe = document.getElementById('timeframe');
          const ordem = document.getElementById('ordem');
          const horario = document.getElementById('horario');

          ativo.textContent = data['asset'];
          ordem.textContent = data['direction'];
          timeframe.textContent = data['duration'];

          if (
            data['asset'] === 'TRUMP Coin' ||
            data['asset'] === 'Meta' ||
            data['asset'] === 'Google' ||
            data['asset'] === 'Tesla' ||
            data['asset'] === 'Apple' ||
            data['asset'] === 'Amazon' ||
            data['asset'] === 'Nike, Inc.' ||
            data['asset'] === "McDonald's" ||
            data['asset'] === 'Coca-Cola' ||
            data['asset'] === 'MELANIA Coin'
          ) {
            timeframe.textContent = 'M1';
          }

          function updateTime() {
            const now = new Date();
            let hours = now.getHours();
            let minutes = now.getMinutes() + 1;
            let segundos = now.getSeconds();

            if (minutes >= 60) {
              minutes -= 60;
              hours += 1;
            }
            if (hours >= 24) {
              hours = 0;
            }
            if (segundos >= 59) {
              segundos = 0;
            }

            const formattedHours = String(hours).padStart(2, '0');
            const formattedMinutes = String(minutes).padStart(2, '0');
            const formattedSegundos = String(segundos).padStart(2, '0');
            horario.textContent = `${formattedHours}:${formattedMinutes}:${formattedSegundos}`;
          }

          updateTime();
          fetchSignals();
        } catch (error) {
          const alertMessage = document.getElementById('alert-message');
          alertMessage.textContent = 'Erro ao gerar sinal. Tente novamente.';
          alertMessage.className = 'error';
          alertMessage.style.display = 'block';
          setTimeout(() => {
            alertMessage.style.display = 'none';
          }, 4000);
        }

        await new Promise((resolve) => setTimeout(resolve, 60000));

        bolinha.textContent = 'I.A INICIADA';
        btnAnalisar.textContent = 'AGUARDANDO SINAL';
        btnAnalisar.style.opacity = '.5';
        btnAnalisar.style.pointerEvents = 'none';

        await new Promise((resolve) => setTimeout(resolve, 5000));
        btnAnalisar.style.backgroundColor = '#4CAF50';

        // Aguarda 3 minutos antes de rodar novamente
        setTimeout(generateSignal, 300000);
      }

      // Variável de controle para verificar o estado da I.A
      let iaIniciada = false;

      // Adicionar evento ao botão para iniciar ou parar o processo
      document
        .getElementById('startSignal')
        .addEventListener('click', function () {
          if (!iaIniciada) {
            // Iniciar a I.A
            bolinha.textContent = 'I.A INICIADA';
            document
              .querySelector('.analise')
              .style.setProperty('--desligado', '#00bf63');
            startBot.style.backgroundColor = 'red';
            startBot.style.boxShadow = '0 0 8px red';
            startBot.textContent = 'PARAR I.A';
            generateSignal();

            iaIniciada = true;
          } else {
            // Parar a I.A
            document
              .querySelector('.analise')
              .style.setProperty('--desligado', '#ff0000');
            startBot.style.backgroundColor = '#00bf63';

            location.reload();

            // Aqui você pode adicionar lógica para parar a função generateSignal se necessário
            // Exemplo: cancelando um intervalo ou algo relacionado

            iaIniciada = false;
          }
        });

      // Função para buscar sinais e atualizar a lista
      async function fetchSignals() {
        const response = await fetch('/get-signals');
        const data = await response.json();
        const signalList = document.getElementById('signals');
        signalList.innerHTML = '';

        data.forEach((signal) => {
          if (
            signal['asset'] === 'TRUMP Coin' ||
            signal['asset'] === 'Meta' ||
            signal['asset'] === 'Google' ||
            signal['asset'] === 'Tesla' ||
            signal['asset'] === 'Apple' ||
            signal['asset'] === 'Amazon' ||
            signal['asset'] === 'Nike, Inc.' ||
            signal['asset'] === "McDonald's" ||
            signal['asset'] === 'Coca-Cola' ||
            signal['asset'] === 'MELANIA Coin'
          ) {
            signal['duration'] = 'M1';
          }

          const li = document.createElement('li');

          li.textContent = `${signal['asset']}   -   ${signal['direction']}   -   ${signal['duration']} - ${signal['time_sent']}`;
          signalList.prepend(li);
        });
      }

      setInterval(fetchSignals, 4000); // Atualizar a lista a cada 5 segundos
      fetchSignals(); // Atualização inicial

      function updateClock() {
        let now = new Date();
        let hours = now.getHours().toString().padStart(2, '0');
        let minutes = now.getMinutes().toString().padStart(2, '0');
        let seconds = now.getSeconds().toString().padStart(2, '0');
        document.getElementById(
          'clock'
        ).innerText = `${hours}:${minutes}:${seconds}`;
      }
      setInterval(updateClock, 1000);
      updateClock(); // Atualiza imediatamente sem esperar o intervalo
    </script>
  </body>
</html>
