<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#00bf63" />
    <title>BULLTRADE PRO</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <link
      rel="shortcut icon"
      href="static/images/logo.png"
      type="image/x-icon"
    />
  </head>

  <body>
    <div class="imagembanner">
      <header class="header">
        <img src="../static/images/logo.png" alt="" />
        <!-- <h1>BullTRADE</h1> -->

        <div class="menu">
          <a href="{{ url_for('logout') }}">SAIR</a>
          <h4>Bem-Vindo, {{ nome }}!</h4>
        </div>
      </header>

      <div class="containerIA">
        <div class="circleIA">
          <div class="wave"></div>
          <div class="wave"></div>
          <div class="wave"></div>
          <button class="btnIA" id="startSignal">ATIVAR</button>
        </div>
      </div>

      <div id="popupContainer" class="popup-container">
        <div class="container-video">
          <video src="../static/video.mp4" autoplay loop muted></video>
        </div>
        <div id="popup" class="popup">
          <p id="txtpopup">Desativando sistema</p>
          <div class="progress-bar-container">
            <img src="../static/images/logo.png" style="width: 25px" alt="" />
            <div id="bar1" class="progress-bar bar1"></div>
          </div>
          <div class="progress-bar-container">
            <img src="../static/images/logo.png" style="width: 25px" alt="" />
            <div id="bar2" class="progress-bar bar2"></div>
          </div>
          <div class="progress-bar-container">
            <img src="../static/images/logo.png" style="width: 25px" alt="" />
            <div id="bar3" class="progress-bar bar3"></div>
          </div>
        </div>
      </div>

      <div class="analise">
        <h3 id="sinal">I.A DESATIVADA</h3>
      </div>

      <div class="container" id="containerPrincipal">

        <div class="painel">
          <div class="ativo">
            ATIVO:
            <p id="ativo">-</p>
          </div>

          <div class="timeframe">
            TIMEFRAME:
            <p id="timeframe">-</p>
          </div>

          <div class="ordem">
            ORDEM:
            <p id="ordem">-</p>
          </div>

          <div class="horario">
            HORÁRIO:
            <p id="horario">-</p>
          </div>
        </div>

        <!-- <button onclick="generateSignal()" id="btnAnalisar" class="btnAnalisar">
        ANALISAR ENTRADA
      </button> -->

        <h4>PROBABILIDADE DE WIN</h4>
        <div class="progress-container">
          <div class="progress-green" id="green-bar">
            <span id="green-text"></span>
          </div>
          <div class="progress-red" id="red-bar">
            <span id="red-text"></span>
          </div>
        </div>

        <p id="percentage-text"></p>

        <a
          id="btnAnalisar"
          class="btnAnalisar"
          target="_blank"
          href="https://trade.bull-ex.com/register?aff=404504&aff_model=revenue&afftrack="
        >
          AGUARDANDO SINAL
        </a>

        
       <iframe
       src="https://trade.bull-ex.com/traderoom"
       sandbox="allow-same-origin allow-scripts allow-forms allow-popups allow-modals"
       allow="fullscreen; autoplay; clipboard-write"
     ></iframe> 

        <div class="dashboard">
          <div class="stats">
            <div class="stat-box">
              <p>Usuários Online</p>
              <p><strong id="random-users">-</strong> <span>traders</span></p>
            </div>
            <div class="stat-box">
              <p>Sinais Gerados</p>
              <p><strong id="random-signals">-</strong> <span>hoje</span></p>
            </div>
          </div>
          <div class="trading-academy">
            <img src="../static/images/logo.png" alt="Trading Academy" />
            <div class="academy-info">
              <h3>Trading Academy</h3>
              <p>5 aulas · 8795 alunos</p>
              <a href="{{ url_for('academy') }}" class="button"
                >Começar Agora</a
              >
            </div>
          </div>
        </div>

    </div>

    <footer>
      <nav>
        <a style="color: var(--primary-color)" href=""
          ><img
            src="../static/images/house-chimney-user-ativo.png"
            alt=""
          />Home</a
        >
        <a href="{{ url_for('academy') }}"
          ><img src="../static/images/graduation-cap.png" alt="" />Academy</a
        >
        <a class="live" href="#"
          ><img src="../static/images/signal-stream.png" alt="" />Lives</a
        >
        <a href="{{ url_for('news') }}"
          ><img src="../static/images/newspaper.png" alt="" />News</a
        >
        <a href="{{ url_for('historico') }}"
          ><img
            src="../static/images/clock-future-past.png"
            alt=""
          />Histórico</a
        >
      </nav>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>


     


      function updateBar() {
                  let greenPercentage = Math.floor(Math.random() * 41) + 60; // Valor entre 60% e 100%
                  let redPercentage = 100 - greenPercentage; // O restante é vermelho

                  let greenBar = document.getElementById("green-bar");
                  let redBar = document.getElementById("red-bar");
                  let greenText = document.getElementById("green-text");
                  let redText = document.getElementById("red-text");

                  greenBar.style.width = greenPercentage + "%";
                  redBar.style.width = redPercentage + "%";

                  greenText.innerText = greenPercentage + "%";
                  redText.innerText = redPercentage > 0 ? redPercentage + "%" : "";

                  // Se a parte vermelha for muito pequena, esconde o texto para evitar sobreposição
                  redText.style.display = redPercentage < 10 ? "none" : "block";
              }




            function getRandomNumber(min, max) {
              return Math.floor(Math.random() * (max - min + 1)) + min;
            }
            document.getElementById('random-users').textContent = getRandomNumber(
              40,
              150
            );
            document.getElementById('random-signals').textContent = getRandomNumber(
              200,
              350
            );

            document.addEventListener('keydown', function (event) {
              if (
                event.key === 'F12' ||
                (event.ctrlKey && event.shiftKey && event.key === 'I')
              ) {
                event.preventDefault();
              }
            }); // desabilita o f12 e ctrl+i

            document.addEventListener('contextmenu', function (event) {
              event.preventDefault();
            }); // desabilita o clique com botão direito

            const pegarsinal = document.querySelector('.pegarsinal');

            const btnAnalisar = document.querySelector('.btnAnalisar');
            const bolinha = document.getElementById('sinal');
            const startBot = document.getElementById('startSignal');

            const circleIA = document.querySelector('.circleIA');

            async function generateSignal() {

              const containerPrincipal = document.getElementById("containerPrincipal");
              containerPrincipal.style.borderColor = "var(--primary-color)";
              containerPrincipal.classList.add("boxshadowInicio");
              bolinha.style.borderColor = "var(--primary-color)";

              await new Promise((resolve) => setTimeout(resolve, 2000));

              let popupContainer = document.getElementById("popupContainer");
                  let txtpopup = document.getElementById("txtpopup")
                  popupContainer.style.display = "flex";


                  function fillBar(bar, duration, callback) {
                    let width = 0;
                    let interval = setInterval(() => {
                      if (width >= 100) {
                        clearInterval(interval);
                        if (callback) callback();
                      } else {
                        width++;
                        bar.style.width = width + "%";
                      }
                    }, duration / 100);

                  }
                  
                  txtpopup.textContent = "Analisando mercado"
                  fillBar(document.getElementById("bar1"), 3500, () => {
                    txtpopup.textContent = "Analisando tendências"
                      fillBar(document.getElementById("bar2"), 3500, () => {
                        txtpopup.textContent = "Analisando probabilidades"
                          fillBar(document.getElementById("bar3"), 3500, () => {
                            txtpopup.textContent = "Analise concluída"
                              setTimeout(() => {
                                  popupContainer.style.display = "none";
                                  document.getElementById("bar1").style.width = "0%";
                                  document.getElementById("bar2").style.width = "0%";
                                  document.getElementById("bar3").style.width = "0%";
                              }, 1000);
                          });
                      });
                  });



              await new Promise((resolve) => setTimeout(resolve, 5000));

              btnAnalisar.style.opacity = '.5';
              btnAnalisar.style.pointerEvents = 'none';
              bolinha.textContent = 'ANALISANDO';

              await new Promise((resolve) => setTimeout(resolve, 3000));

              bolinha.textContent = 'POSSÍVEL SINAL';

              btnAnalisar.style.pointerEvents = 'none';
              await new Promise((resolve) => setTimeout(resolve, 3000));

              bolinha.textContent = 'OPERAÇÃO ANALISADA';
              updateBar();
              btnAnalisar.textContent = 'FAZER OPERAÇÃO';

              btnAnalisar.style.backgroundColor = 'var(--primary-color)';
              btnAnalisar.style.opacity = '1';
              btnAnalisar.style.pointerEvents = 'initial';

              try {
                const response = await fetch('/generate-random-signal');
                const data = await response.json();
                const alertMessage = document.getElementById('alert-message');

                const ativo = document.getElementById('ativo');
                const timeframe = document.getElementById('timeframe');
                const ordem = document.getElementById('ordem');
                const horario = document.getElementById('horario');

                ativo.textContent = data['asset'];
                ordem.textContent = data['direction'];
                timeframe.textContent = data['duration'];

                const containerPrincipal = document.getElementById("containerPrincipal");

                if (data['direction'] == "COMPRA") {
                containerPrincipal.classList.add("boxshadowCompra")
                } else {
                  containerPrincipal.classList.add("boxshadowVenda")
                }

                if (
                  data['asset'] === 'TRUMP Coin' ||
                  data['asset'] === 'Meta' ||
                  data['asset'] === 'Google' ||
                  data['asset'] === 'Tesla' ||
                  data['asset'] === 'Apple' ||
                  data['asset'] === 'Amazon' ||
                  data['asset'] === 'Nike, Inc.' ||
                  data['asset'] === "McDonald's" ||
                  data['asset'] === 'Coca-Cola' ||
                  data['asset'] === 'MELANIA Coin'
                ) {
                  timeframe.textContent = 'M1';
                }

                function updateTime() {
                  const now = new Date();
                  let hours = now.getHours();
                  let minutes = now.getMinutes() + 1;
                  let segundos = now.getSeconds();

                  if (minutes >= 60) {
                    minutes -= 60;
                    hours += 1;
                  }
                  if (hours >= 24) {
                    hours = 0;
                  }
                  if (segundos >= 59) {
                    segundos = 0;
                  }

                  const formattedHours = String(hours).padStart(2, '0');
                  const formattedMinutes = String(minutes).padStart(2, '0');
                  const formattedSegundos = String(segundos).padStart(2, '0');
                  horario.textContent = `${formattedHours}:${formattedMinutes}:${formattedSegundos}`;
                }

                updateTime();
                fetchSignals();
              } catch (error) {
                const alertMessage = document.getElementById('alert-message');
                alertMessage.textContent = 'Erro ao gerar sinal. Tente novamente.';
                alertMessage.className = 'error';
                alertMessage.style.display = 'block';
                setTimeout(() => {
                  alertMessage.style.display = 'none';
                }, 4000);
              }

              await new Promise((resolve) => setTimeout(resolve, 60000));

              bolinha.textContent = 'I.A INICIADA';
              btnAnalisar.textContent = 'AGUARDANDO SINAL';
              btnAnalisar.style.opacity = '.5';
              btnAnalisar.style.pointerEvents = 'none';

              await new Promise((resolve) => setTimeout(resolve, 5000));
              btnAnalisar.style.backgroundColor = 'var(--primary-color)';

              // Aguarda 3 minutos antes de rodar novamente
              setTimeout(generateSignal, 800000);
            }

            // Variável de controle para verificar o estado da I.A
            let iaIniciada = false;

            // Adicionar evento ao botão para iniciar ou parar o processo

            document
              .getElementById('startSignal')
              .addEventListener('click', function () {
                if (!iaIniciada) {
                  // Iniciar a I.A
                  bolinha.textContent = 'I.A INICIADA';
                  document
                    .querySelector('.analise')
                    .style.setProperty('--desligado', '#00bf63');
                  const waves = document.querySelectorAll('.wave');
                  waves[0].classList.add('waveativa');
                  waves[1].classList.add('waveativa');
                  waves[2].classList.add('waveativa');
                  startBot.style.backgroundColor = 'var(--primary-color)';
                  startBot.style.boxShadow = '0 0 8px #02ff84';
                  startBot.textContent = 'DESATIVAR';
                  circleIA.style.background = 'var(--primary-color)';
                  circleIA.style.boxShadow =
                    '0 0 15px #02ff84, 0 0 30px var(--primary-color)';
                  generateSignal();

                  iaIniciada = true;
                } else {
                  // Parar a I.A
                  document
                    .querySelector('.analise')
                    .style.setProperty('--desligado', '#ff0000');
                  startBot.style.backgroundColor = '#00bf63';

                  location.reload();

                  // Aqui você pode adicionar lógica para parar a função generateSignal se necessário
                  // Exemplo: cancelando um intervalo ou algo relacionado

                  iaIniciada = false;
                }
              });

            // Função para buscar sinais e atualizar a lista
            async function fetchSignals() {
              const response = await fetch('/get-signals');
              const data = await response.json();
              const signalList = document.getElementById('signals');
              signalList.innerHTML = '';

              data.forEach((signal) => {
                if (
                  signal['asset'] === 'TRUMP Coin' ||
                  signal['asset'] === 'Meta' ||
                  signal['asset'] === 'Google' ||
                  signal['asset'] === 'Tesla' ||
                  signal['asset'] === 'Apple' ||
                  signal['asset'] === 'Amazon' ||
                  signal['asset'] === 'Nike, Inc.' ||
                  signal['asset'] === "McDonald's" ||
                  signal['asset'] === 'Coca-Cola' ||
                  signal['asset'] === 'MELANIA Coin'
                ) {
                  signal['duration'] = 'M1';
                }

                const li = document.createElement('li');

                li.textContent = `${signal['asset']}   -   ${signal['direction']}   -   ${signal['duration']} - ${signal['time_sent']}`;
                signalList.prepend(li);
              });
            }

            setInterval(fetchSignals, 4000); // Atualizar a lista a cada 5 segundos
            fetchSignals(); // Atualização inicial

            function updateClock() {
              let now = new Date();
              let hours = now.getHours().toString().padStart(2, '0');
              let minutes = now.getMinutes().toString().padStart(2, '0');
              let seconds = now.getSeconds().toString().padStart(2, '0');
              document.getElementById(
                'clock'
              ).innerText = `${hours}:${minutes}:${seconds}`;
            }
            setInterval(updateClock, 1000);
            updateClock(); // Atualiza imediatamente sem esperar o intervalo
    </script>
  </body>
</html>
