<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
</head>
<body>
    <h1>Lista de Usuários Cadastrados</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Usuário</th>
                <th>Nome</th>
                <th>Senha</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.usuario }}</td>
                    <td>{{ usuario.nome }}</td>
                    <td>{{ usuario.senha }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('home') }}">Voltar para a página inicial</a>
</body>
</html>